[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.6
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = git://code.qt.io/qt/qtsvg.git
	branch = 5.6
	status = addon
[submodule "qtdeclarative"]
	depends = qtbase
	recommends = qtsvg qtxmlpatterns
	path = qtdeclarative
	url = git://code.qt.io/qt/qtdeclarative.git
	branch = 5.6
	status = essential
[submodule "qtactiveqt"]
	depends = qtbase
	path = qtactiveqt
	url = git://code.qt.io/qt/qtactiveqt.git
	branch = 5.6
	status = addon
[submodule "qtscript"]
	depends = qtbase
	recommends = qttools
	path = qtscript
	url = git://code.qt.io/qt/qtscript.git
	branch = 5.6
	status = deprecated
[submodule "qtmultimedia"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtmultimedia
	url = git://code.qt.io/qt/qtmultimedia.git
	branch = 5.6
	status = essential
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt qtwebkit
	path = qttools
	url = git://code.qt.io/qt/qttools.git
	branch = 5.6
	status = essential
[submodule "qtxmlpatterns"]
	depends = qtbase
	path = qtxmlpatterns
	url = git://code.qt.io/qt/qtxmlpatterns.git
	branch = 5.6
	status = addon
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = git://code.qt.io/qt/qttranslations.git
	branch = 5.6
	status = essential
	priority = 30
[submodule "qtdoc"]
	depends = qtdeclarative
	path = qtdoc
	url = git://code.qt.io/qt/qtdoc.git
	branch = 5.6
	status = essential
	priority = 40
[submodule "qtrepotools"]
	path = qtrepotools
	url = git://code.qt.io/qt/qtrepotools.git
	branch = master
	status = essential
	project = -
[submodule "qtwebkit"]
	depends = qtbase
	recommends = qtdeclarative qtlocation qtmultimedia qtsensors qtwebchannel qtxmlpatterns
	serialize = qtwebengine
	path = qtwebkit
	url = git://code.qt.io/qt/qtwebkit.git
	branch = 5.6
	status = obsolete
	project = WebKit.pro
	priority = 20
[submodule "qtwebkit-examples"]
	depends = qtwebkit qttools
	path = qtwebkit-examples
	url = git://code.qt.io/qt/qtwebkit-examples.git
	branch = 5.6
	status = obsolete
[submodule "qtqa"]
	depends = qtbase
	path = qtqa
	url = git://code.qt.io/qt/qtqa.git
	branch = master
	status = essential
	priority = 50
[submodule "qtlocation"]
	depends = qtbase
	recommends = qtdeclarative qtquickcontrols qtserialport qtsystems
	path = qtlocation
	url = git://code.qt.io/qt/qtlocation.git
	branch = 5.6
	status = addon
[submodule "qtsensors"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsensors
	url = git://code.qt.io/qt/qtsensors.git
	branch = 5.6
	status = addon
[submodule "qtsystems"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsystems
	url = git://code.qt.io/qt/qtsystems.git
	branch = dev
	status = ignore
[submodule "qtfeedback"]
	depends = qtdeclarative
	recommends = qtmultimedia
	path = qtfeedback
	url = git://code.qt.io/qt/qtfeedback.git
	branch = master
	status = ignore
[submodule "qtdocgallery"]
	depends = qtdeclarative
	path = qtdocgallery
	url = git://code.qt.io/qt/qtdocgallery.git
	branch = master
	status = ignore
[submodule "qtpim"]
	depends = qtdeclarative
	path = qtpim
	url = git://code.qt.io/qt/qtpim.git
	branch = dev
	status = ignore
[submodule "qtconnectivity"]
	depends = qtbase
	recommends = qtdeclarative qtandroidextras
	path = qtconnectivity
	url = git://code.qt.io/qt/qtconnectivity.git
	branch = 5.6
	status = addon
[submodule "qtwayland"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwayland
	url = git://code.qt.io/qt/qtwayland.git
	branch = 5.6
	status = addon
[submodule "qt3d"]
	depends = qtdeclarative qtimageformats
	path = qt3d
	url = git://code.qt.io/qt/qt3d.git
	branch = 5.6
	status = preview
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = git://code.qt.io/qt/qtimageformats.git
	branch = 5.6
	status = addon
[submodule "qtquick1"]
	depends = qtscript
	recommends = qtsvg qtxmlpatterns
	path = qtquick1
	url = git://code.qt.io/qt/qtquick1.git
	branch = 5.6
	status = obsolete
[submodule "qtgraphicaleffects"]
	depends = qtdeclarative
	path = qtgraphicaleffects
	url = git://code.qt.io/qt/qtgraphicaleffects.git
	branch = 5.6
	status = addon
[submodule "qtquickcontrols"]
	depends = qtdeclarative
	recommends = qtgraphicaleffects
	path = qtquickcontrols
	url = git://code.qt.io/qt/qtquickcontrols.git
	branch = 5.6
	status = essential
[submodule "qtserialbus"]
	depends = qtserialport
	path = qtserialbus
	url = git://code.qt.io/qt/qtserialbus.git
	branch = 5.6
	status = preview
[submodule "qtserialport"]
	depends = qtbase
	path = qtserialport
	url = git://code.qt.io/qt/qtserialport.git
	branch = 5.6
	status = addon
[submodule "qtx11extras"]
	depends = qtbase
	path = qtx11extras
	url = git://code.qt.io/qt/qtx11extras.git
	branch = 5.6
	status = addon
[submodule "qtmacextras"]
	depends = qtbase
	path = qtmacextras
	url = git://code.qt.io/qt/qtmacextras.git
	branch = 5.6
	status = addon
[submodule "qtwinextras"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtwinextras
	url = git://code.qt.io/qt/qtwinextras.git
	branch = 5.6
	status = addon
[submodule "qtandroidextras"]
	depends = qtbase
	path = qtandroidextras
	url = git://code.qt.io/qt/qtandroidextras.git
	branch = 5.6
	status = addon
[submodule "qtenginio"]
	depends = qtdeclarative
	path = qtenginio
	url = git://code.qt.io/qt/qtenginio.git
	branch = 5.6
	status = deprecated
[submodule "qtwebsockets"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwebsockets
	url = git://code.qt.io/qt/qtwebsockets.git
	branch = 5.6
	status = addon
[submodule "qtwebchannel"]
	depends = qtbase
	recommends = qtdeclarative qtwebsockets
	path = qtwebchannel
	url = git://code.qt.io/qt/qtwebchannel.git
	branch = 5.6
	status = addon
[submodule "qtwebengine"]
	depends = qtquickcontrols qtwebchannel
	recommends = qtlocation
	path = qtwebengine
	url = git://code.qt.io/qt/qtwebengine.git
	branch = 5.6
	status = addon
	priority = 10
[submodule "qtcanvas3d"]
	depends = qtdeclarative
	path = qtcanvas3d
	url = git://code.qt.io/qt/qtcanvas3d.git
	branch = 5.6
	status = addon
[submodule "qtwebview"]
	depends = qtdeclarative
	recommends = qtwebengine
	path = qtwebview
	url = git://code.qt.io/qt/qtwebview.git
	branch = 5.6
	status = addon
[submodule "qtquickcontrols2"]
	depends = qtquickcontrols
	path = qtquickcontrols2
	url = git://code.qt.io/qt/qtquickcontrols2.git
	branch = 5.6
	status = preview
[submodule "qtpurchasing"]
	depends = qtbase qtandroidextras
	recommends = qtdeclarative
	path = qtpurchasing
	url = git://code.qt.io/qt/qtpurchasing.git
	branch = dev
	status = ignore
