[submodule "qtbase"]
	path = qtbase
	url = https://github.com/stinb/qtbase.git
	branch = 5.5.1
	initrepo = true
[submodule "qtsvg"]
	path = qtsvg
	url = git://code.qt.io/qt/qtsvg.git
	branch = 5.5.1
	initrepo = true
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = git://code.qt.io/qt/qtdeclarative.git
	branch = 5.5.1
	initrepo = true
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = git://code.qt.io/qt/qtactiveqt.git
	branch = 5.5.1
	initrepo = true
[submodule "qtscript"]
	path = qtscript
	url = git://code.qt.io/qt/qtscript.git
	branch = 5.5.1
	initrepo = true
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = git://code.qt.io/qt/qtmultimedia.git
	branch = 5.5.1
	initrepo = true
[submodule "qttools"]
	path = qttools
	url = git://code.qt.io/qt/qttools.git
	branch = 5.5.1
	initrepo = true
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = git://code.qt.io/qt/qtxmlpatterns.git
	branch = 5.5.1
	initrepo = true
[submodule "qttranslations"]
	path = qttranslations
	url = git://code.qt.io/qt/qttranslations.git
	branch = 5.5.1
	initrepo = true
[submodule "qtdoc"]
	path = qtdoc
	url = git://code.qt.io/qt/qtdoc.git
	branch = 5.5.1
	initrepo = true
[submodule "qtrepotools"]
	path = qtrepotools
	url = git://code.qt.io/qt/qtrepotools.git
	branch = master
	initrepo = true
[submodule "qtwebkit"]
	path = qtwebkit
	url = git://code.qt.io/qt/qtwebkit.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwebkit-examples"]
	path = qtwebkit-examples
	url = git://code.qt.io/qt/qtwebkit-examples.git
	branch = 5.5.1
	initrepo = true
[submodule "qtqa"]
	path = qtqa
	url = git://code.qt.io/qt/qtqa.git
	branch = master
	initrepo = true
[submodule "qtlocation"]
	path = qtlocation
	url = git://code.qt.io/qt/qtlocation.git
	branch = 5.5.1
	initrepo = true
[submodule "qtsensors"]
	path = qtsensors
	url = git://code.qt.io/qt/qtsensors.git
	branch = 5.5.1
	initrepo = true
[submodule "qtsystems"]
	path = qtsystems
	url = git://code.qt.io/qt/qtsystems.git
	branch = dev
[submodule "qtfeedback"]
	path = qtfeedback
	url = git://code.qt.io/qt/qtfeedback.git
	branch = master
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = git://code.qt.io/qt/qtdocgallery.git
	branch = master
[submodule "qtpim"]
	path = qtpim
	url = git://code.qt.io/qt/qtpim.git
	branch = dev
[submodule "qtconnectivity"]
	path = qtconnectivity
	url = git://code.qt.io/qt/qtconnectivity.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwayland"]
	path = qtwayland
	url = git://code.qt.io/qt/qtwayland.git
	branch = 5.5.1
	initrepo = true
[submodule "qt3d"]
	path = qt3d
	url = git://code.qt.io/qt/qt3d.git
	branch = 5.5.1
	initrepo = true
[submodule "qtimageformats"]
	path = qtimageformats
	url = git://code.qt.io/qt/qtimageformats.git
	branch = 5.5.1
	initrepo = true
[submodule "qtquick1"]
	path = qtquick1
	url = git://code.qt.io/qt/qtquick1.git
	branch = 5.5.1
	initrepo = true
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = git://code.qt.io/qt/qtgraphicaleffects.git
	branch = 5.5.1
	initrepo = true
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = git://code.qt.io/qt/qtquickcontrols.git
	branch = 5.5.1
	initrepo = true
[submodule "qtserialport"]
	path = qtserialport
	url = git://code.qt.io/qt/qtserialport.git
	branch = 5.5.1
	initrepo = true
[submodule "qtx11extras"]
	path = qtx11extras
	url = git://code.qt.io/qt/qtx11extras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtmacextras"]
	path = qtmacextras
	url = git://code.qt.io/qt/qtmacextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwinextras"]
	path = qtwinextras
	url = git://code.qt.io/qt/qtwinextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = git://code.qt.io/qt/qtandroidextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtenginio"]
	path = qtenginio
	url = git://code.qt.io/qt/qtenginio.git
	branch = 1.2.1
	initrepo = true
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = git://code.qt.io/qt/qtwebsockets.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwebchannel"]
	path = qtwebchannel
	url = git://code.qt.io/qt/qtwebchannel.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwebengine"]
	path = qtwebengine
	url = git://code.qt.io/qt/qtwebengine.git
	branch = 5.5.1
	initrepo = true
[submodule "qtcanvas3d"]
	path = qtcanvas3d
	url = git://code.qt.io/qt/qtcanvas3d.git
	branch = 5.5.1
	initrepo = true
